div.griddedItems {
  display: grid;
  grid-gap: var(--app-padding);
}

/* Media queries */

@media only screen and (max-width: 949px) {
  .griddedItems {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 950px) {
  .griddedItems {
    grid-template-columns: 29fr 21fr;
  }
}
